.btn {
  @include btn-default();

  padding: 1em 1.5em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  // width: 100%;
  //height: 50px;
  font-family: $font-family--secondary;
  font-size: 13px;
  line-height: 1;
  color: $black-color;
  text-decoration: none;
  background-color: $primary-color;
  border: 1px solid transparent;
  border-radius: $border-radius;
  box-sizing: border-box;
  transition: background-color 0.15s ease-in;
  cursor: pointer;


  &:disabled {
    background-color: $gray-light-color--up-5 !important;
    color: $gray-color--down-11 !important;
    cursor: not-allowed !important;
  }

  @include hover {
    background-color: #FFEC23;
  }

  @include focus {
    outline: none;
  }

  &--default {
    padding: 0;
    background: none;
    border: none;
    transition: unset;
  }

  &--black {
    background-color: $black-color;

    @include hover {
      background-color: #333333;
    }
  }

  &--white {
    background-color: $white-color;
    border-color: $gray-light-color;
  }

  &--lg {
    padding-top: 0.85em;
    padding-bottom: 0.85em;
    font-size: 18px;
  }

  &--w-300 {
    min-width: 300px;
  }

  &--w-270 {
    min-width: 270px;
  }

  &--max-w-270 {
    max-width: 270px;
  }

  &--max-w-300 {
    max-width: 300px;
  }

  &--w-full {
    display: block;
    width: 100%;
  }

  &--delete {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0;
    display: flex;
    align-items: center;
    font-size: 14px;
    background-color: transparent;

    @include hover {
      background: transparent;
    }
  }

  &--delete svg {
    --stroke-color: #C74141;
    --fill-color: none;
  }

  &--delete:hover svg {
    --stroke-color: #FFFFFF;
    --fill-color: #C74141;
  }

  &--back {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1.4;
    color: #333333;
    background-color: #FAFAFA;

    @include active {
      background-color: $gray-color;
    }

    @include hover {
      background-color: #F0F0F0;
    }
  }

  &--back span {
    display: block;
    margin-left: 20px;
  }

  .data-list + & {
    margin-top: 30px;
  }

  &__text {
    font-family: $font-family--secondary;
    font-weight: 500;
    text-align: center;

    .btn > svg ~ & {
      margin-left: 10px;
    }

    .btn--black & {
      color: $white-color;
    }

    .btn--delete & {
      font-size: 14px;
      font-weight: 400;
      color: $red-color;
      text-align: left;
    }
  }
}
