.coverage-list {
  margin: 20px 0 0;
  padding: 0;
  display: grid;
  grid-row-gap: 25px;
  list-style: none;

  @include media-breakpoint-up(sm) {
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
  }

  @include media-breakpoint-between(md, lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(xl) {
    margin-top: 50px;
    display: grid;
    grid-template-columns: unset;
    grid-row-gap: 50px;
  }

  &__item {
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 22px;

    @include media-breakpoint-between(sm, lg) {
      display: flex;
      flex-direction: column;
    }

    @include media-breakpoint-only(sm) {
      align-items: center;
      text-align: center;

      &:last-child {
        grid-column: 1 / -1;
      }
    }

    &:last-child {

      @include media-breakpoint-only(md) {
        display: flex;
      }
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: 97px auto;
    }

    &::before {
      content: attr(data-count);
      grid-column: 1 / 1;
      grid-row: 1 / -1;
      padding-top: 8px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 90px;
      height: 90px;
      font-family: $font-family;
      font-size: 52px;
      line-height: 1.2;
      font-weight: 700;
      color: $black-color;
      background-color: $primary-color;
      border-radius: 50%;

      @include media-breakpoint-up(lg) {
        width: 97px;
        height: 97px;
      }
    }
  }

  &__item p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: $font-family--secondary;
    font-size: 15px;
    line-height: 1.3;
    color: $font-color;
    grid-column: 2 / -1;
    grid-row: 1 / 1;

    @include media-breakpoint-between(sm, lg) {
      margin-top: 25px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 18px;
    }
  }

  &__link {
    display: block;
    grid-column: 2 / -1;
    grid-row-start: 2;
    align-self: center;

    @include media-breakpoint-between(md, lg) {
      margin-top: auto;
      align-self: flex-start;
    }
  }
}
