.page-section {

  &--top-line {
    margin-top: 55px;
    border-top: 1px solid $gray-color;
  }

  &--theme-primary {
    margin-top: 85px;
    padding-bottom: 30px;
    border: 1px solid transparent;
    background-color: $primary-color;
  }

  &--no-standard-tasks {
    padding-top: 35px;
  }

  &--article {
    //margin-top: 90px;
  }

  //&--portfolio {
  //
  //}
  //
  //&--inner {
  //  margin-top: 70px;
  //  padding-top: 75px;
  //  padding-bottom: 75px;
  //  border-top: 1px solid $gray-color;
  //  //background-color: $primary-color;
  //}

  &__container {
    @include container();

    .page-section--main-curve & {
      position: relative;

      &::before {
        position: absolute;
        top: -793px;
        left: -12vw;
        width: 1600px;
        height: 3910px;
        z-index: -1;
        opacity: 0.3;
        background-image: url("main-curve");
        background-repeat: no-repeat;
        background-size: cover;

        @include media-breakpoint-up(xl) {
          content: "";
        }
      }
    }
  }

  //&__title {
  //  margin: 0;
  //  margin-top: 35px;
  //  margin-bottom: 15px;
  //  font-family: $font-family;
  //  font-size: 32px;
  //  line-height: 1.2;
  //  color: $black-color;
  //
  //  @include media-breakpoint-up(lg) {
  //    margin-top: 55px;
  //    font-size: 42px;
  //  }
  //
  //  @include media-breakpoint-up(xl) {
  //    // margin-top: 110px;
  //    margin-top: 65px;
  //  }
  //
  //  .page-section--examples & {
  //    font-size: 28px;
  //
  //    @include media-breakpoint-up(lg) {
  //      margin-top: 15px;
  //    }
  //
  //    @include media-breakpoint-up(xl) {
  //      font-size: 42px;
  //      font-weight: 400;
  //    }
  //  }
  //
  //  .page-section--article & {
  //    @include media-breakpoint-up(lg) {
  //      margin-top: 30px;
  //    }
  //  }
  //
  //  .page-section--portfolio & {
  //    margin: 0;
  //    font-size: 28px;
  //    grid-column: 1 / -1;
  //
  //    @include media-breakpoint-only(md) {
  //      display: none;
  //    }
  //
  //    @include media-breakpoint-up(lg) {
  //      font-size: 32px;
  //    }
  //  }
  //
  //  .page-section--inner & {
  //    margin: 0;
  //    font-size: 28px;
  //    grid-column: 1 / -1;
  //
  //    @include media-breakpoint-up(lg) {
  //      font-size: 32px;
  //    }
  //  }
  //}

  //&__title br {
  //  display: none;
  //
  //  @include media-breakpoint-up(sm) {
  //    display: block;
  //  }
  //}

  //&__text {
  //  margin-top: 0;
  //  margin-bottom: 20px;
  //  font-family: $font-family--secondary;
  //  font-size: 15px;
  //  line-height: 1.2;
  //  color: $font-color;
  //
  //  @include media-breakpoint-up(lg) {
  //    margin-bottom: 35px;
  //    font-size: 18px;
  //    line-height: 1.4;
  //  }
  //
  //  .page-section--inner & {
  //    margin-top: 8px;
  //    margin-bottom: 20px;
  //    font-size: 14px;
  //  }
  //}

  //&__truncate {
  //
  //}

  //&__images {
  //  margin-top: 30px;
  //  padding-right: 35px;
  //
  //  @include media-breakpoint-up(md) {
  //    padding-right: 0;
  //    display: grid;
  //    grid-template-columns: repeat(3, 1fr);
  //    grid-column-gap: 10px;
  //  }
  //
  //  @include media-breakpoint-up(lg) {
  //    grid-template-columns: auto;
  //    grid-template-rows: repeat(3, auto);
  //  }
  //}

  //&__img {
  //  margin-bottom: 10px;
  //  display: block;
  //  width: 100%;
  //  height: auto;
  //  object-fit: cover;
  //
  //  @include media-breakpoint-up(lg) {
  //    width: auto;
  //  }
  //}
}
