.radio {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  cursor: pointer;

  &__input {
    display: none;
    visibility: hidden;
  }

  &__body {
    position: relative;
    display: inline-grid;
    grid-auto-columns: 20px auto 18px;
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    align-items: center;
    font-family: $font-family--secondary;

    .radio--no-indicator & {
      grid-auto-columns: auto auto 18px;
    }

    &::before {
      content: '';
      width: 20px;
      height: 20px;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      box-sizing: border-box;
      border: 1px solid $gray-light-color;
      border-radius: 50%;

      .radio__input:checked ~ & {
        border-width: 2px;
        border-color: $primary-color;
      }

      .radio--no-indicator & {
        content: unset;
        display: none;
      }
    }

    &::after {
      content: "";
      position: relative;
      top: 0;
      left: 0;
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: center;
      width: 6px;
      height: 6px;
      background-color: $primary-color;
      border-radius: 50%;
      display: none;

      .radio__input:checked ~ & {
        display: block;
      }

      .radio--no-indicator .radio__input:checked ~ & {
        content: unset;
        display: none;
      }
    }
  }

  &__label {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 16px;
    line-height: 1;
    cursor: pointer;
  }

  &__help {
    @include btn-default();

    display: flex;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: start;
  }

  &__help svg {
    --circle-color: #F2F2F2;
    --circle-bg-color: none;
    --question-color: #999999;

    @include hover {
      --circle-color: #FFDC00;
      --circle-bg-color: #FFDC00;
      --question-color: #000000;
    }
  }

  &__meta {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 14px;
    line-height: 1.2;
    color: $gray-dark-color;
  }
}
