.select {
  $arrow-height-large: 7px;
  $arrow-height: 6px;

  position: relative;
  width: 100%;

  &.open {
    z-index: 100;
  }

  &:hover {
    border-color: darken($gray-light-color, 10%);
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 4px;
    height: 4px;
    border: 1px solid $gray-dark-color;
    border-top-color: transparent;
    border-right-color: transparent;
    transform: rotate3d(0, 0, 1, -45deg) translateY(-6px);
  }

  &__field {
     @include input();

     display: flex;
     align-items: center;

    .select--no-shadow & {
      box-shadow: none;
    }

    .form.error & {
      border-color: $red-color;
      background-color: rgba($red-color, 0.5);
    }
  }

  &__field span {
    //user-select: ;
    pointer-events: none;
  }

  &__dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    padding: 10px 10px 10px 20px;
    display: none;
    background-color: $white-color;
    box-shadow: 0px 5px 40px rgba($black-color, 0.05);
    border-radius: $border-radius;

    .select.open & {
      display: block;
      z-index: 100;
    }
  }

  &__list {
    margin: 0;
    padding: 10px 0;
    list-style: none;
    overflow-y: auto;
    max-height: 200px;

    @include scollbar();
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;

    .select.open & {
      display: block;
    }
  }

  &__item {
    font-family: $font-family--secondary;
    font-size: 16px;
    line-height: 22px;
    color: #333333;
    transition: .15s background-color ease-in;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.selected {
      color: $gray-dark-color;
    }

    @include hover {
      color: $gray-dark-color;
    }
  }
}
