.services {
  $border-radius: 10px;

  margin-top: 30px;

  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }

  @include media-breakpoint-up(md) {
    margin-top: 50px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__item {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    height: 230px;
    border-radius: $border-radius;
    background-color: $gray-light-color;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0;
    }

    &:nth-child(2),
    &:nth-child(3) {

      @include media-breakpoint-up(lg) {
        grid-column: span 2;
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px 17px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba($black-color, 0.2);
    border-radius: $border-radius;
  }

  &__title {
    margin: 0 0 10px 0;
    font-family: $font-family--secondary;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    color: $white-color;
  }

  &__text {
    margin: 0;
    font-family: $font-family--secondary;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: $white-color;
  }
}
