.text-box {
    padding-bottom: 20px;
    overflow: hidden;

   &__content {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        box-shadow: 0 -60px 10px rgba($white-color, 0.75) inset;
    }
   }

  &__more {
     position: relative;
     margin-top: 15px;
     padding: 0;
     display: flex;
     align-items: center;
     font-family: $font-family--secondary;
     font-size: 16px;
     line-height: 1.2;
     color: $font-color;
     border: none;
     background-color: transparent;
     cursor: pointer;

     &:focus {
       outline: none;
     }
   }

  &__more svg {
    --stroke-opacity: 0.1;
    --stroke-color: #000000;
    --arrow-color: #000000;

    margin-left: 10px;
  }

  &__more:hover svg {
    --stroke-opacity: 1;
    --stroke-color: #FFDC00;
    --fill-color: #FFDC00;
  }
}
