.tooltip {
  padding: 10px;
  min-width: 240px;
  font-family: $font-family--secondary;

  &__title {
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    font-weight: 700;
  }

  &__text {
    margin: 0;
    display: block;
    font-size: 12px;
    color: $black-color;

    &:not(:only-child) {
      margin-bottom: 5px;
    }
  }

  &__meta {
    margin-top: 10px;
    display: block;
    font-size: 14px;
    line-height: 1.2;
    color: $gray-dark-color;
  }
}
