<article class="point-card">
  {{> preloader}}
  <button type="button" class="point-card__close" data-close-btn></button>
  <div class="point-card__back">
    {{{ btn type="back" text="Назад" data="close-btn" mods="w-full"}}}
  </div>
  <h1 class="point-card__title">Владивосток, Автовокзал</h1>
  <div class="point-card__contacts">
    <div class="point-card__contact">
      <p class="point-card__text">Русская ул., 2а, ст. 3.</p>
      <a href="#" data-zoom-id="point-1" class="link link--lg link--gray">
        <span class="link__text">Посмотреть на карте</span>
      </a>
      <svg class="icon icon--gray" width="16px" height="20px">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#location-point"></use>
      </svg>
    </div>
    <div class="point-card__contact">
      <p class="point-card__text point-card__text--gray">График работы:</p>
      <p class="point-card__text">с 8:00 до 20:00, без выходных</p>
      <svg class="icon icon--gray" width="20px" height="20px">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#alarm-clock"></use>
      </svg>
    </div>
    <div class="point-card__contact">
      <p class="point-card__text point-card__text--gray">Контакты для связи:</p>
      <a href="tel: +7(423)2937879" class="link link--lg link--no-underline">
        <span class="link__text"><b>+7 (423) 293 78 79</b>, доб. 0</span>
      </a>
      <svg class="icon icon--gray"  width="20px" height="20px">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#union"></use>
      </svg>
    </div>
    <div class="point-card__contact">
      <p class="point-card__text point-card__text--gray">Почта отделения:</p>
      <a herf="malto: inbox@busbox.guru" class="link link--lg link--blue link--no-underline">
        <b class="link__text">inbox@busbox.guru</b>
      </a>
      <svg class="icon icon--blue" width="19px" height="16px">
        <use xlink:href="{{root}}assets/img/symbol/sprite.svg#email"></use>
      </svg>
    </div>
  </div>
  <div class="point-card__info">
    <img class="point-card__img"
         src="{{root}}assets/img/content/index/example-slide.png"
         srcset="{{root}}assets/img/content/index/example-slide@2x.png 2x, {{root}}assets/img/content/index/example-slide@3x.png 3x">
    <p class="point-card__text point-card__text--sm">За содержимое грузов и документов (далее — отправление) несет ответственность лицо, являющееся Отправителем.</p>
  </div>
  <div class="point-card__back">
    {{{ btn type="back" text="Назад" data="close-btn" mods="w-full"}}}
  </div>
</article>
