---
title: Тарифы на перевозку
layout: default
---

<div class="page__container">
  <h1 class="page__title">Тарифы на перевозку по Приморскому краю</h1>
  <p class="page__subtitle">Для получения тарифов, выберите регион и город, из которого планируется отправление.</p>
</div>

<div class="page__container page__container--col-2-xl">
  <div class="rates-box">
    <h2 class="rates-box__heading">Регион:</h2>
    <div class="rates-box__col">
      {{{ radio id="prim"  name="regions" label="Приморский край" checked="true"}}}
      {{{ radio id="tat"  name="regions" label="Республика Татарстан"}}}
    </div>
    <h2 class="rates-box__heading">Город:</h2>
    <div class="rates-box__col rates-box__col--cities">
      {{{ radio id="vladivostok" name="cities" label="Владивосток" checked="true"}}}
      {{{ radio id="ussurysk" name="cities" label="Уссурийск"}}}
      {{{ radio id="artem" name="cities" label="Артем"}}}
      {{{ radio id="nakhodka" name="cities" label="Находка"}}}
      {{{ radio id="dalnegorsk" name="cities" label="Дальнегорск"}}}
    </div>
  </div>
</div>

<div class="page__container page__container--col-2">
  <div class="page__content">
    {{{ info-box title="Зона 1" text="Артем, Арсеньев, Анучино, Уссурийск, Михайловка, Новошахтинск, Спасск, Сибирцево, Черниговка,
    Большой Камень, Шкотово, Находка, Фокино, Душкино, Ливадия, Южно-Морской, Партизанск, Казанка, Хороль, Ярославский, Камень-Рыболов,
    Славянка, Андреевка, Зарубино." }}}
    {{{ info-box title="Зона 2" text="Пограничный, Галенки, Липовцы, Сергеевка (Пограничного р-на), Покровка, Кавалерово, Дальнегорск,
    Лесозаводск, Кировский, Шмаковка (Горные Ключи), Преображение, Лазо, Сергеевка (Партизанского р-на), Валентин, Дальнереченск, Лучегорск,
    Чугуевка, Каменка (Чугуевского р-на), Краскино, Посьет, Хасан, Новопокровка, Рощино, Вострецово, Восток." }}}
    {{{ info-box title="Зона 3" text="Терней, Пластун, Каменка (Дальнегорского р-на (тернейская), Ольга. Хабаровск" }}}

    <div class="cargo-info">
      <article class="cargo-info__item" data-count="1">
        <div class="cargo-info__body">
          <h1 class="cargo-info__title">Документы</h1>
          <div class="cargo-info__text">не более формата А4 до 1,5 см толщиной.</div>
          {{{ table
          head='["Зона 1", "Зона 2", "Зона 3"]'
          body='[["250 руб", "300 руб", "550 руб"]]'
          mods='clean, width-auto'
          }}}
        </div>
      </article>
      <article class="cargo-info__item" data-count="2">
        <div class="cargo-info__body">
          <h1 class="cargo-info__title">Посылки</h1>
          <p class="cargo-info__text">за 1 стандартное место габаритами не больше 30х30х70</p>
          {{{ table
          head='["Вес", "Зона 1", "Зона 2", "Зона 3"]'
          body='[
          ["0-20 кг.", "350 руб", "450 руб", "550 руб"],
          ["20-40 кг.", "450 руб", "550 руб", "650 руб"],
          ["40-60 кг.", "550 руб", "650 руб", "750 руб"]
          ]'
          mods='clean, width-auto'
          }}}
        </div>
      </article>
      <article class="cargo-info__item" data-count="3">
        <div class="cargo-info__body">
          <h1 class="cargo-info__title">Запчасти автомобильные.</h1>
          <p class="cargo-info__text">за 1 стандартное место габаритами не больше 30х30х70</p>
          {{{ table
          head='["Вес", "Зона 1", "Зона 2", "Зона 3"]'
          body='[
          ["Коробка передач, автомат", "1 550 руб", "2 050 руб", "2 550 руб"],
          ["Бампер, обвесы", "950 руб", "1 150 руб", "1 750 руб"],
          ["Крыло", "750 руб", "850 руб", "950 руб"],
          ["Капот", "950 руб", "1 550 руб", "2 050 руб"],
          ["Стекло лобовое", "1 550 руб", "2 050 руб", "2 550 руб"],
          ["Колеса 2 штуки", "850 руб", "1 250 руб", "1 550 руб"],
          ["Карданный вал", "850 руб", "950 руб", "1 050 руб"],
          ["Багажник", "950 руб", "1 550 руб", "2 050 руб"],
          ["Рулевая рейка", "550 руб", "650 руб", "750 руб"],
          ["Боковая дверь", "850 руб", "1 050 руб", "1 550 руб"],
          ["Задняя дверь", "950 руб", "1 150 руб", "1 650 руб"],
          ["Редуктор от 30 кг.", "950 руб", "1 150 руб", "1 550 руб"]]'
          mods='clean, width-auto'
          }}}
        </div>
      </article>
      <article class="cargo-info__item" data-count="4">
        <div class="cargo-info__body">
          <h1 class="cargo-info__title">Другое</h1>
          <p class="cargo-info__text">за 1 стандартное место габаритами не больше 30х30х70</p>
          {{{ table
          head='["Тип груза", "Зона 1", "Зона 2", "Зона 3"]'
          body='[
          ["Велосипед", "1 550 руб", "2 050 руб", "2 550 руб"],
          ["Коляска", "950 руб", "1 150 руб", "1 750 руб"],
          ["Цветы", "750 руб", "850 руб", "950 руб"],
          ["Телевизор", "950 руб", "1 550 руб", "2 050 руб"]
          ]'
          mods='clean, width-auto'
          }}}
          <div class="cargo-info__note">
            <small>*Максимальный вес груза 1 цельное место:</small>
            <small>Ольга — до 50 кг.</small>
            <small>Чугуевка — до 70 кг.</small>
            <small>Терней, Пластун, Каменка — до 70 кг.</small>
          </div>
        </div>
      </article>
    </div>
    {{{ media theme="two" title="Вы можете скачать файл «Правила приемки<br /> и отправки грузов» в формате PDF" link='{"href": "#", "text": "Скачать в PDF (80 кб)"}' imgName="pdf" imgWidth="36" imgHeight="40" mods="under-list" }}}
  </div>
  <aside class="page__sidebar">
    {{{ media title="Правила приемки и отправки грузов" link='{"href": "#", "text": "Скачать в PDF (80 кб)"}' imgName="pdf" imgWidth="36" imgHeight="41" }}}
  </aside>
</div>
