---
title: Main page
layout: default
---

<section class="main-promo">
  <div class="main-promo__inner">
    <div class="main-promo__info">
      <h1 class="main-promo__title">Срочная доставка<br /> по Приморскому краю</h1>
      <p class="main-promo__text"><span>от 2 до 24 часов</span> рейсовыми автобусами</p>
      <img class="main-promo__img"
           src="{{root}}assets/img/content/index/bus-sm.png"
           srcset="{{root}}assets/img/content/index/bus-sm@2x.png 2x, {{root}}assets/img/content/index/bus-sm@3x.png 3x">
      <ul class="main-promo__list">
        <li>
          {{{ icon name="parcel" width="26" height="28" }}}
          <span>Посылки</span>
        </li>
        <li>
          {{{ icon name="docs" width="28" height="28" }}}
          <span>Документы</span>
        </li>
        <li>
          {{{ icon name="docs" width="25" height="28" }}}
          <span>Грузы</span>
        </li>
      </ul>
    </div>
    <div class="main-promo__form">
      <form action="#" class="form form--promo form--no-margin">
        <h2 class="form__title">Рассчитайте стоимость</h2>
        <label for="delivery-from" class="form__label form__label--light">Откуда отправляем?</label>
        <div class="form__fieldset form__fieldset--row-gap-sm" style="margin-bottom: 15px;">
          <div class="form__field">
            {{{ select
            id="delivery-from"
            name="delivery-from"
            data='[
            {"value": "", "name": "Выберите город"},
            {"value": "nakhodka", "name": "Находка"},
            {"value": "arseniev", "name": "Арсеньев"}]'
            mods="no-shadow"
            }}}
          </div>
          <div class="form__field" style="display: none">
            {{{ select
            id="delivery-from"
            name="delivery-from"
            data='[
            {"value": "", "name": "Выберите терминал"},
            {"value": "vl-gog", "name": "Владивосток - Гоголя"},
            {"value": "vl-gog", "name": "Владивосток - Гоголя"}]'
            mods="no-shadow"
            }}}
          </div>
        </div>
        <label for="delivery-to" class="form__label form__label--light">Куда отправляем?</label>
        <div class="form__fieldset form__fieldset--row-gap-sm">
          <div class="form__field">
            {{{ select
            id="delivery-to"
            name="delivery-to"
            data='[
            {"value": "", "name": "Выберите город"},
            {"value": "nakhodka", "name": "Находка"},
            {"value": "arseniev", "name": "Арсеньев"}]'
            mods="no-shadow"
            }}}
          </div>
          <div class="form__field" style="display: none">
            {{{ select
            id="delivery-from"
            name="delivery-from"
            data='[
            {"value": "", "name": "Выберите терминал"},
            {"value": "vl-gog", "name": "Владивосток - Гоголя"},
            {"value": "vl-gog", "name": "Владивосток - Гоголя"}]'
            mods="no-shadow"
            }}}
          </div>
        </div>
        <div style="margin-top: 30px;">
          {{{ btn type="button" text="Рассчитать" mods="lg, black, w-full"}}}
        </div>
      </form>
    </div>
  </div>
</section>
<section class="page-section page-section--main-curve">
  <div class="page-section__container">
    <h2 class="title title--lg">Охватываем всю территорию<br> Приморского края</h2>
    <p class="subtitle subtitle--lg">И даже самые труднодоступные населенные пункты региона</p>
    <ul class="coverage-list">
      <li class="coverage-list__item" data-count="9">
        <p>Пунктов отправления<br class="br br--show-xs" />в ключевых городах <br class="br br--show-lg" /> региона</p>
        <div class="coverage-list__link">
          {{> info-link name="Список пунктов отправления"}}
        </div>
      </li>
      <li class="coverage-list__item" data-count="50">
        <p>Населенных пунктов<br class="br br--show-xs" /> для получения ваших<br class="br br--show-lg" /> посылок в <br class="br br--show-xs br--hide-lg" />Приморье</p>
        <div class="coverage-list__link">
          {{> info-link name="Список пунктов получения"}}
        </div>
      </li>
      <li class="coverage-list__item" data-count="58">
        <p>Рейсовых автобуса<br class="br br--show-xs"/> ежедневно отправляет<br class="br br--show-lg"/> ваши<br class="br br--show-xs br--hide-lg"/> посылки</p>
      </li>
    </ul>
  </div>
</section>
<section class="page-section">
  <div class="page-section__container">
    <h2 class="title title--lg">Предлагаем удобный сервис <br class="br br--show-xs"/>для вашего комфорта</h2>
    <ul class="services-list">
      <li class="services-list__item">
        <div class="services-list__icon">
          {{{ icon name="delivery-to-door" width="50" height="50" }}}
        </div>
        <h3 class="services-list__title">Доставка от двери<br class="br br--show-xs"/>до двери</h3>
        <p class="services-list__text">Курьер заберет вашу посылку и&nbsp;доставит её до&nbsp;двери получателя.</p>
      </li>
      <li class="services-list__item">
        <div class="services-list__icon">
          {{{ icon name="sms-call" width="52" height="51" }}}
        </div>
        <h3 class="services-list__title">SMS-уведомления<br class="br br--show-xs"/>о статусе доставки</h3>
        <p class="services-list__text">Вы&nbsp;знаете о&nbsp;всех этапах движения посылки. SMS-уведомления получают отправитель и&nbsp;получатель.</p>
      </li>
      <li class="services-list__item">
        <div class="services-list__icon">
          {{{ icon name="package" width="50" height="50" }}}
        </div>
        <h3 class="services-list__title">Упаковка грузов</h3>
        <p class="services-list__text">Подберем оптимальную упаковку для вашего груза и&nbsp;бережно запакуем его.</p>
        <div class="services-list__toggle">
          {{> info-link name="Виды упаковки и стоимость"}}
        </div>
      </li>
      <li class="services-list__item">
        <div class="services-list__icon">
          {{{ icon name="stock" width="55" height="55" }}}
        </div>
        <h3 class="services-list__title">Складское<br class="br br--show-xs">хранение грузов</h3>
        <p class="services-list__text">Бесплатное хранение вашего груза в&nbsp;течение суток.</p>
      </li>
      <li class="services-list__item">
        <div class="services-list__icon">
          {{{ icon name="delivery-from-airport" width="70" height="42" }}}
        </div>
        <h3 class="services-list__title">Доставка<br class="br br--show-xs" />из аэропорта</h3>
        <p class="services-list__text">Забор груза из&nbsp;Аэропорта и Карго&nbsp;-&nbsp;Владивосток, прохождение необходимых процедур.</p>
      </li>
      <li class="services-list__item">
        <div class="services-list__icon">
          {{{ icon name="ensurance" width="51" height="51" }}}
        </div>
        <h3 class="services-list__title">Страхование груза</h3>
        <p class="services-list__text">Страховая защита груза и&nbsp;максимально быстрое возмещение ущерба.</p>
      </li>
    </ul>
  </div>
</section>
<section class="page-section page-section--no-standard-tasks">
  <div class="page-section__container">
    <h2 class="title title--lg">Решаем нестандартные <br class="br--show-xs"/>логистические задачи</h2>
    <p class="subtitle subtitle--lg">Нужно организовать доставку нестандартного груза в&nbsp;очень сжатые сроки?<br clas="br--show-xs "/>
      Трудно найти исполнителя? Мы&nbsp;предложим индивидуальное решение вашей задачи!</p>
    <div class="row row--no-standart-tasks">
      <form action="#" class="form form--no-margin form--send-cargo">
        <div class="form__fieldset form__fieldset--2-col-sm form__fieldset--1-col-lg form__fieldset--2-col-xl">
          <div class="form__field">
            <label for="delivery-from-2" class="form__label form__label--light">Откуда отправляем?</label>
            {{{ select
            id="delivery-from-2"
            name="delivery-from-2"
            data='[
            {"value": "", "name": "Выберите город"},
            {"value": "nakhodka", "name": "Находка"},
            {"value": "arseniev", "name": "Арсеньев"}]'
            }}}
          </div>
          <div class="form__field">
            <label for="delivery-to-2" class="form__label form__label--light">Куда отправляем?</label>
            {{{ select
            id="delivery-to-2"
            name="delivery-to-2"
            data='[
            {"value": "", "name": "Выберите город"},
            {"value": "nakhodka", "name": "Находка"},
            {"value": "arseniev", "name": "Арсеньев"}]'
            }}}
          </div>
          <div class="form__field form__field--full">
            <label for="describe-task" class="form__label form__label--light">Куда отправляем?</label>
            {{{ textarea id="describe-task" name="describe-task" }}}
          </div>
          <div class="form__field form__field--full">
            {{{ checkbox id="subscribe" name="personal-data" label='Нажимая кнопку «Отправить», я даю свое согласие на
            <a href="#" class="link">
              <span class="link__text">обработку моих персональных данных</span>
            </a>' mods="md, inverted"}}}
          </div>
        </div>
        <div class="form__fieldset form__fieldset--2-col-sm form__fieldset--1-col-lg form__fieldset--2-col-xl">
          {{{ btn type="submit" text="Отправить" mods="lg, black, w-full"}}}
        </div>
      </form>
      <section class="page-section page-section--examples">
        <h2 class="title title--lg title--examples">Примеры</h2>
        {{> example-slider}}
      </section>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="page-section__container">
    <h2 class="title title--lg">Помогаем бизнесу</h2>
    <p class="subtitle subtitle--lg">С&nbsp;нами работает более 500 компаний, которые регулярно отправляют грузы<br class="br br--show-xs"/>
      по&nbsp;Приморскому краю и&nbsp;в&nbsp;Хабаровск.</p>
    <div class="partners">
      <div class="partners__item">
        {{{ icon name="sber" }}}
      </div>
      <div class="partners__item">
        {{{ icon name="aeroflot" }}}
      </div>
      <div class="partners__item">
        {{{ icon name="giperauto" }}}
      </div>
      <div class="partners__item">
        {{{ icon name="unilab" }}}
      </div>
    </div>
  </div>
</section>
<section class="page-section page-section--article">
  <div class="page-section__container">
   <div class="row row--article">
     <div>
       <h2 class="title title--lg">Грузоперевозки по&nbsp;Приморскому краю</h2>
       <div class="text-box">
         <p>Мы&nbsp;предлагаем приемлемые тарифы, высокую скорость доставки и&nbsp;ручаемся за&nbsp;каждый наш груз.
           Мы&nbsp;не&nbsp;работаем по&nbsp;принципу &laquo;наборных грузов&raquo;, а&nbsp;доставляем вашу посылку в&nbsp;ближайшее время
           с&nbsp;момента оформления заказа. Это осуществляется за&nbsp;счет регулярного движения междугородних автобусов и&nbsp;наличию
           большого количества рейсов по&nbsp;многим направлениям. Мы&nbsp;&mdash; Баскурьер, предлагаем нашим клиентам следующие
           курьерские услуги: Доставка и&nbsp;забор грузов от&nbsp;двери до&nbsp;двери, забор грузов в&nbsp;Аэропорту г.&nbsp;Владивостока,
           срочная доставка груза в&nbsp;г.&nbsp;Хабаровск на&nbsp;ежедневной основе, срочная доставка документов по&nbsp;Приморскому краю
           от&nbsp;2 до&nbsp;24 часов.</p>
         <p>У&nbsp;наших клиентов есть уникальная возможность&nbsp;&mdash; хранение на&nbsp;складе в&nbsp;течение суток БЕСПЛАТНОЕ! А&nbsp;это значит, что вы</p>
         <button type="button" class="text-box__more">
           Читать подробнее
           {{{ icon name="more" width="32" height="32" }}}
         </button>
       </div>
     </div>
     <div class="images-box">
       {{{ img name="article-photo-1" alt="Возможно это ты" }}}
       {{{ img name="article-photo-2" alt="Возможно это ты" }}}
       {{{ img name="article-photo-3" alt="Возможно это ты" }}}
     </div>
   </div>
  </div>
</section>

{{> modals}}
