---
title: Наши услуги
layout: default
---

<div class="page__container">
  <h1 class="page__title">Наши услуги</h1>

  <div class="traffic">
    <div class="traffic__item">
      <div class="traffic__img traffic__img--prim">
        {{{ img name="delivery-primorye" alt="Доставка Приморье" breakpoints='{"md": true, "xl": true}' ext="png"}}}
      </div>
      <h2 class="traffic__title">Грузоперевозки<br class="br br--show-xs">по <span>Приморскому краю</span></h2>
      <p class="traffic__text">рейсовыми междугородними <br class="br br--show-xs">автобусами.</p>
    </div>
    <div class="traffic__item">
      <div class="traffic__img traffic__img--tat">
        {{{ img name="delivery-tat" alt="Доставка Татарстан" breakpoints='{"md": true, "xl": true}' ext="png"}}}
      </div>
      <h2 class="traffic__title">Грузоперевозки<br class="br br--show-xs">по <span>республике<br class="br br--show-md br--hide-xl"> Татарстан</span></h2>
      <p class="traffic__text">рейсовыми междугородними <br class="br br--show-xs">автобусами.</p>
    </div>
    <div class="traffic__item">
      <div class="traffic__img traffic__img--rus">
        {{{ img name="delivery-rus" alt="Доставка Россия" breakpoints='{"md": true, "xl": true}' ext="png"}}}
      </div>
      <h2 class="traffic__title">Грузоперевозки<br>
        по всей России</h2>
      <p class="traffic__text">экспресс-доставка <br class="br br--show-md br--hide-xl">партнерской <br class="br br--show-xs br--hide-md br--show-xl">службой <br class="br br--show-md br--hide-xl">«КСЭ».</p>
    </div>
  </div>

  <div class="services">
    <article class="services__item">
      <div class="services__overlay">
        <h1 class="services__title">Страхование груза</h1>
        <p class="services__text">Защита от любых непредвиденных ситуаций.</p>
      </div>
    </article>
    <article class="services__item">
      <div class="services__overlay">
        <h1 class="services__title">Решение нестандартных логистических задач</h1>
        <p class="services__text">Предлагаем индивидуальные решения для решения нестандартных задач.</p>
      </div>
    </article>
    <article class="services__item">
      <div class="services__overlay">
        <h1 class="services__title">Доставка посылок из интернет-магазинов со всего мира</h1>
        <p class="services__text">Мы представляем официальные пункты выдачи
          международных курьерских служб: BoxBerry, IML, Hermes, КСЭ-Стро.</p>
      </div>
    </article>
    <article class="services__item">
      <div class="services__overlay">
        <h1 class="services__title">Забор и доставка груза курьером</h1>
        <p class="services__text">Мы заберем груз перед отправкой и доставим до нужного адреса.</p>
      </div>
    </article>
  </div>
</div>
