---
title: Заявка на перевозку
title-text: Заполните форму необходимыми данными и отправьте
layout: default
---

<div class="page__container page__container--col-2 page__container--calculator">
  <div class="page__content">
    <h1 class="page__title">Заявка на перевозку</h1>
    <p class="page__subtitle">Заполните форму необходимыми данными и отправьте</p>
    {{> calc-steps}}
    <form class="form" autocomplete="off">
      <div data-step-content="1" style="display: none;">
        <section class="form__section">
          <h2 class="form__heading">Ваши данные</h2>
          <ul data-tabs class="form__tabs">
            <li>
              <a data-tabby-default href="#natural">Физическое лицо</a>
            </li>
            <li>
              <a href="#entity">Юридическое лицо</a>
            </li>
          </ul>
          <div id="natural" class="form__tabs-panel form__tabs-panel--mg-top">
            <div  class="form__fieldset form__fieldset--2-col-sm form__fieldset--3-col-xl">
              <div class="form__field">
                <label for="last-name" class="form__label">Фамилия<sup>*</sup></label>
                {{{ input type="text" id="last-name" name="last-name" error="Не заполнено"}}}
              </div>
              <div class="form__field">
                <label for="first-name" class="form__label">Имя<sup>*</sup></label>
                {{{ input type="text" id="first-name" name="first-name" error="Не заполнено"}}}
              </div>
              <div class="form__field">
                <label for="middle-name" class="form__label">Отчество<sup>*</sup></label>
                {{{ input type="text" id="middle-name" name="middle-name" error="Не заполнено"}}}
              </div>
              <div class="form__field">
                <label for="email" class="form__label">E-mail<sup>*</sup></label>
                {{{ input type="email" id="email" name="email" error="Не заполнено"}}}
              </div>
              <div class="form__field">
                <label for="tel" class="form__label">Телефон<sup>*</sup></label>
                {{{ input type="text" id="tel" name="tel" error="Не заполнено"}}}
              </div>
              <div class="form__field">
                <label for="tel" class="form__label">Роль</label>
                {{{ select
                id="role"
                name="role"
                data='[
                {"value": "", "name": " "},
                {"value": "nakhodka", "name": "Отправитель"},
                {"value": "arseniev", "name": "Отправитель"}]'
                }}}
              </div>
            </div>
          </div>
          <div id="entity" class="form__tabs-panel form__tabs-panel--mg-top">
            Не понятно какие данные...
          </div>
          <!-- <p class="form__help-text form__help-text--gray form__help-text--align-center">Выберите статус лица для перехода на следующий шаг</p> -->
          <!-- <p class="form__help-text">Чтобы оформить заказ как юридическое лицо,<br />вам необходимо <a href="#" class='link link--blue link--in-text'><span class='link__text'><span>войти</span></span></a>или <a href="#" class='link link--blue link--in-text'><span class='link__text'><span>зарегистрироваться</span></span></a></p> -->
        </section>
      </div>
      <div data-step-content="2" style="display: none;">
        <section class="form__section">
          <h2 class="form__heading">Отправитель</h2>
          <div class="form__fieldset form__fieldset--2-col-sm">
            <div class="form__field form__field--full">
              <label for="fio" class="form__label">ФИО<sup>*</sup></label>
              {{{ input type="text" id="fio" name="fio" error="Не заполнено"}}}
            </div>
            <div class="form__field">
              <label for="document" class="form__label">Документ<sup>*</sup></label>
              {{{ select
              id="document"
              name="document"
              data='[
              {"value": "pass", "name": "Паспорт"},
              {"value": "pass", "name": "Паспорт"}]'
              }}}
            </div>
            <div class="form__field">
              <label for="doc-data" class="form__label">Серия и номер документа<sup>*</sup></label>
              {{{ input type="text" id="doc-data" name="doc-data" error="Не заполнено"}}}
            </div>
            <div class="form__field">
              <label for="tel" class="form__label">Номер телефона<sup>*</sup></label>
              {{{ input type="tel" id="tel" name="tel" error="Не заполнено"}}}
            </div>
          </div>
        </section>
        <section class="form__section">
          <h2 class="form__heading">Пункт отправления</h2>
          <div class="form__fieldset form__fieldset--delivery-point form__fieldset--row-gap-lg">
            <div class="form__field form__field--location">
              <label for="destination" class="form__label">Населенный пункт<sup>*</sup></label>
              {{{ input type="text" id="destination" name="destination" error="Не заполнено"}}}
            </div>
            {{> fieldset--department}}
            <ul data-tabs class="form__tabs form__tabs--mg-top">
              <li>
                <a data-tabby-default href="#city-to-1">Сдать в отделение</a>
              </li>
              <li>
                <a href="#city-from-1">Вызвать курьера</a>
              </li>
            </ul>
            <div id="city-to-1" class="form__tabs-panel">
              {{> fieldset--address}}
            </div>
            <div id="city-from-1" class="form__tabs-panel">
              Не понятно какие тут будут поля
              <!-- {{> fieldset--address}} -->
              <!-- {{> fieldset--schedule}} -->
            </div>
            <div class="form__field form__field--delivery-date">
              <label for="destination" class="form__label">Дата отправки<sup>*</sup></label>
              {{{ input type="text" id="destination" name="destination" error="Не заполнено"}}}
            </div>
          </div>
        </section>
      </div>
      <div data-step-content="3" style="display: none;">
        {{> goods--common-block}}
        <section class="form__section">
          <h2 class="form__heading">Получатель:</h2>
          <div class="form__fieldset form__fieldset--2-col-sm">
            <div class="form__field form__field--full">
              <label for="fio" class="form__label">ФИО<sup>*</sup></label>
              {{{ input type="text" id="fio" name="fio" error="Не заполнено"}}}
            </div>
            <div class="form__field">
              <label for="tel" class="form__label">Номер телефона<sup>*</sup></label>
              {{{ input type="tel" id="tel" name="tel" error="Не заполнено"}}}
            </div>
          </div>
        </section>
        <section class="form__section">
          <h2 class="form__heading">Пункт получения</h2>
          <div class="form__fieldset form__fieldset--pickup-point form__fieldset--row-gap-lg">
            <div class="form__field form__field--location">
              <label for="destination" class="form__label">Населенный пункт<sup>*</sup></label>
              {{{ input type="text" id="destination" name="destination" error="Не заполнено"}}}
            </div>
            <div class="form__fieldset form__fieldset--department">
              <label class="form__label form__label--light form__label--full">Выберите отделение:</label>
              <div class="form__field">
                {{{ radio name="department" label="Владивосток, Гоголя 22" }}}
              </div>
              <div class="form__field">
                {{{ radio name="department" label="Владивосток, Карла Маркса" }}}
              </div>
            </div>
            <ul data-tabs class="form__tabs form__tabs--mg-top">
              <li>
                <a data-tabby-default href="#city-to-2">Встретить с автобуса</a>
              </li>
              <li>
                <a href="#city-from-2">Доставка курьером</a>
              </li>
            </ul>
            <div id="city-to-2" class="form__tabs-panel">
              Не понятно какие данные
            </div>
            <div id="city-from-2" class="form__tabs-panel">
              {{> fieldset--address}}
              <!-- {{> fieldset--schedule}} -->
            </div>
          </div>
        </section>
      </div>
      <div data-step-content="4" style="display: none;">
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Отправитель</h2>
          {{{ data-list items='[
          {"name": "Ваша роль", "value": "Отправитель"},
          {"name": "ФИО", "value": "Иванов Иван Иванович"},
          {"name": "Телефон", "value": "+7(914)123-12-12"},
          {"name": "E-mail", "value": "ivan@mail.ru"}]'
          }}}
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Пункт отправления</h2>
          {{{ data-list items='[
          {"name": "Населенный пункт", "value": "Владивосток"},
          {"name": "Доставка курьером", "value": "ул. Кирова, д. 12, офис/кв. 66"},
          {"name": "Дата отправки", "value": "22.11.2019"}]'
          }}}
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Получатель</h2>
          {{{ data-list items='[
          {"name": "ФИО", "value": "Иванов Иван Иванович"},
          {"name": "Документ", "value": "Паспорт"},
          {"name": "Номер документа", "value": "1234 123493"},
          {"name": "Телефон", "value": "+ 7(914)123-12-12"}]'
          }}}
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Пункт получения</h2>
          {{{ data-list items='[
          {"name": "Населенный пункт", "value": "Уссурийск"},
          {"name": "Доставка курьером", "value": "ул. Кирова, д. 12, офис/кв. 66"},
          {"name": "Дата отправки", "value": "22.11.2019"}]'
          }}}
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Пункт получения</h2>
          {{{ data-list items='[
          {"name": "Характер груза", "value": "Посылка"}]'
          }}}
          <div class="form__mark">Место №1</div>
          {{{ data-list items='[
          {"name": "Габариты", "value": "Ширина: <b>32 см</b>., Высота: <b>120 см</b>., Длина: <b>50 см</b>. "},
          {"name": "Вес", "value": "12 кг."},
          {"name": "Упаковка", "value": "Коробка картонная (4 шт), Сейф пакет (1 шт)"}]'
          }}}
          <div class="form__mark">Место №2</div>
          {{{ data-list items='[
          {"name": "Габариты", "value": "Ширина: <b>32 см</b>., Высота: <b>120 см</b>., Длина: <b>50 см</b>. "},
          {"name": "Вес", "value": "12 кг."},
          {"name": "Упаковка", "value": "Коробка картонная (4 шт), Сейф пакет (1 шт)"}]'
          }}}
        </section>
        <section class="form__section form__section--w-underline">
          <h2 class="form__heading form__heading--w-counter">Дополнительные услуги</h2>
          {{{ data-list items='[
          {"name": "Страховка", "value": "25 000 руб."},
          {"name": "СМС-уведомления<br />отправителю", "value": "Нет"},
          {"name": "СМС-уведомления<br />получателю", "value": "Нет"}]'
          }}}
        </section>
        <section class="form__section">
          <div class="form__fieldset">
            <div class="form__field">
              <label class="form__label">Комментарий к заявке</label>
              {{{ textarea id="user-comment" name="user-comment" }}}
            </div>
            {{{ checkbox id="agree" name="agree" label="Нажимая кнопку «Отправить», я даю свое согласие на <a href='#' class='link link--blue link--in-text'><span class='link__text'>обработку моих персональных данных</span></a>" mods="sm"}}}
          </div>
        </section>
      </div>
      <div class="form__actions">
        {{{ btn id="backStep" type="back" disabled="true" hidden="true"}}}
        <!-- {{{ btn type="submit" text="Далее" mods="lg"}}} -->
        {{{ btn id="nextStep" type="button" text="Далее" mods="lg"}}}
      </div>
    </form>
  </div>
  {{> sidebar-calc-result }}
</div>

<script>
    // document.addEventListener('DOMContentLoaded', function() {
    //     localStorage.setItem('loggined', false);

    //     document.addEventListener('change', function(e) {
    //         if (!(e.target.getAttribute('name') == 'user-type')) return;

    //         document.getElementById('user-not-selected').style.display = 'none';

    //         if (!JSON.parse(localStorage.getItem('loggined'))) {
    //             document.getElementById('user-not-loggined').style.display = 'block';
    //             localStorage.setItem('loggined', true);
    //         } else if (JSON.parse(localStorage.getItem('loggined'))) {
    //             document.getElementById('user-not-loggined').style.display = 'none';
    //             document.getElementById('physic-person-data').style.display = 'grid';
    //             document.querySelector('.form__actions').style.display = 'grid';
    //         }
    //     });
    // })
</script>
