<dl class="form__fieldset">
  <dt>
    {{{ radio
      id="insurance"
      name="add-services"
      label="Страхования"
      help="help"
      tippy="<div class='tooltip'>
        <p class='tooltip__text'>Страхование грузов</p>
        <a href='#' class='link link--blue link--sm' target='_blank'>
         <span class='link__text'>Страхование грузов в Приморском крае</span>
        </a>
      </div>"
    }}}
  </dt>
  <dd data-content="insurance">
    <label for="insurance-field" class="form__label">Объявленная ценность</label>
    {{{ input type="text" id="insurance-field" name="insurance"}}}
  </dd>
  <dt>
    {{{ radio
      id="sms-for-sender"
      name="add-services"
      label="СМС-уведомления отправителю"
      help="help"
      tippy="<div class='tooltip'>
        <p class='tooltip__text'>Вся информация об отправке груза: гос. номер автобуса, маршрут, приблизительное
          время прибытия - отправляется не только получателю, но и отправителю</p>
        <div class='tooltip__meta'>Стоимость 30 ₽</div>
      </div>"
    }}}
  </dt>
  <dd data-content="sms-for-sender">
    <label for="sms-for-sender-field" class="form__label">Номер телефона</label>
    {{{ input
      type="text"
      id="sms-for-sender-field"
      name="insurance"}}}
  </dd>
  <dt>
    {{{ radio
      id="sms-for-receiver"
      name="add-services"
      label="СМС-уведомления получателю"
      help="help"
      tippy="<div class='tooltip'>
        <p class='tooltip__text'>К информации об отправке груза: гос. номер автобуса, маршрут, приблизительное
          время прибытия - добавляется ФИО отправителя и описание груза.</p>
          <div class='tooltip__meta'>Стоимость 30 ₽</div>
        </div>"
    }}}
  </dt>
  <dd data-content="sms-for-receiver">
    <label for="sms-for-receiver-field" class="form__label">Номер телефона</label>
    {{{ input type="text" id="sms-for-receiver-field" name="insurance" }}}
  </dd>
</dl>
