<div class="form__fieldset form__fieldset--goods-type">
  <h2 class="form__heading form__heading--no-mgb">Тип груза:</h2>
  <div class="form__field">
    {{{ radio
      id="goods-type-docs"
      name="goods-type"
      label="Документы"
      checked="true"
    }}}
  </div>
  <div class="form__field">
    {{{ radio
      id="goods-type-package"
      name="goods-type"
      label="Посылки"
    }}}
  </div>
  <div class="form__field">
    {{{ radio
      id="goods-type-auto"
      name="goods-type"
      label="Автозапчасти"
    }}}
  </div>
  <div class="form__field">
    {{{ radio
      id="goods-type-other"
      mods="no-indicator"
      label="Другое"
      help="help"
      disabled="true"
      tippy="<div class='tooltip'>
        <p class='tooltip__text'>Хрупкие грузы, превышающие стандартные габариты, отправляются по специальным тарифам.</p>
          <a href='#' class='link link--blue link--sm' target='_blank'>
            <span class='link__text'>Ознакомтесь с тарифами</span>
          </a>
        </div>"
    }}}
  </div>
</div>
