<!doctype html>
<html class="no-js page" lang="ru">
  {{> head}}
<body class="index">
{{> page-header}}
{{> body}}
{{> page-footer}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy38NKqY0dEc4P0rKJHvB5skmvNiFPNk0&&region=RUS&language=ru"></script>
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
